.admin-layout-container {
    display: flex;
    flex   : 1;

    /* css cho phần sidebar*/
    .admin-sidebar-container {
        display: flex;
        color: red;

        ul.ant-menu.ant-menu-root.ant-menu-vertical.ant-menu-dark.ant-menu-inline-collapsed.css-dev-only-do-not-override-l9pxc0 {
            height: 100vh;
        }

        ul.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-dark.css-dev-only-do-not-override-l9pxc0 {
            height: 100vh;
        }

        ul.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-light.css-dev-only-do-not-override-l9pxc0 {
            height: 100vh;
        }

        ul.ant-menu.ant-menu-root.ant-menu-vertical.ant-menu-light.ant-menu-inline-collapsed.css-dev-only-do-not-override-l9pxc0 {
            height: 100vh;
        }

        .admin-sidebar-menu {
            max-width : 256px;
            min-width : 80px;
            /* Khi collapsed */
            transition: all 0.2s ease;
        }

        .admin-sidebar-icon-1 {
            color    : rgb(251, 144, 5);
            animation: spin 2s linear infinite;

            :hover {
                color: rgb(237, 10, 10);
            }
        }

        @keyframes spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }
    }
}