// @media dùng để code cho mobile vid dụ
/*
// .box {
//     background: red;
//     /* Áp dụng cho mọi màn hình */
// }

// @media (max-width: 768px) {
//     .box {
//         background: blue;
//         /* Chỉ áp dụng khi màn hình <= 768px */
//     }
// }

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;

}

// khi co lại trên mobile sẽ cho cuộn
@media(max-width: 768px) {

    html,
    body {
        overflow-y: auto;
    }

}

/*CSS cho UserLayout*/
.user-layout-container {
    padding-top  : 5px;
    padding-left : 10px;
    padding-right: 10px;
    font-family  : 'Times New Roman',
        Times,
        serif;
    width      : 100%;
    height     : 100%;
    // overflow: hidden;

    .home-container {
        display   : flex;
        height    : 100vh;
        width     : 100%;
        margin-top: 20px;
        overflow-y: auto;

        .home-video {
            flex  : 0 0 40%; // chiếm 40% chiều ngang
            margin: 20px;
            height: 100vh;

            .home-video-sticker-01 {
                height       : 100vh;
                width        : 100%;
                height       : auto;
                object-fit   : cover;
                border-radius: 10px;

            }

            :hover {
                box-shadow: 0 0 20px 10px rgba($color: #ffd6e7, $alpha: 1);
            }
        }

        .home-content {
            overflow-y   : auto;
            flex         : 1;
            padding-right: 20px;
        }

        // 📱 Khi màn hình <= 768px thì đổi sang layout dọc
        @media (max-width: 768px) {
            overflow-y    : auto;
            flex-direction: column;
            height        : auto; // bỏ fixed height để nội dung kéo dài được

            .home-video {
                flex  : none;
                width : 100%;
                height: auto; // hoặc auto, tùy bạn muốn cố định chiều cao video hay không

                .home-video-sticker-01 {
                    width     : 100%;
                    height    : 100%;
                    object-fit: cover;

                }
            }
        }
    }
}

/*CSS cho AdminLayout*/
.admin-layout-container {
    display : flex;
    height  : 100vh;
    width   : 100%;
    position: fixed;

    .admin-sidebar-container {
        height    : 100vh;
        overflow-y: auto;

        ul.ant-menu.ant-menu-root.ant-menu-vertical.ant-menu-dark.ant-menu-inline-collapsed.css-dev-only-do-not-override-l9pxc0 {
            height: 100vh;
        }

        ul.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-dark.css-dev-only-do-not-override-l9pxc0 {
            height: 100vh;
        }

        // xử lý cho phần collaped
        .admin-sidebar-menu {
            max-width : 256px;
            min-width : 80px;
            transition: all 0.2s ease;
        }
    }

    .admin-main-container {
        flex         : 1;
        min-height   : 100vh;
        overflow-y   : auto;
        padding-top  : 5px;
        padding-left : 10px;
        padding-right: 10px;

        /*Phần  style phần collaped và dark */
        .admin-main-action {
            display         : flex;
            justify-content : space-between;
            align-items     : center;
            margin-bottom   : 20px;
            background-color: #e6fffb;
        }

        /* phầm main outlet*/
        .admin-main-outlet {
            flex  : 1;
            height: 100vh;
        }
    }
}